body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 18px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    height: 72px;
    justify-content: center;
}

.header-container {
    width: 80%;
    display: flex;
}

.logo {
    font-weight: bolder;
    flex-grow: 2;
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 1rem;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    height: 50vh;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

.hero-main {
    font-weight: bolder;
    color: #F9FAF8;
    flex-shrink: 1;
}

.information {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    gap: 48px;
    margin-top: 48px;
    margin-bottom: 96px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.image-container {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: solid 5px #3882F6;
    border-radius: 14px;
}

.text {
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quote-container {
    width: 43%;
    height: 70%;
    color: #1F2937;
    margin: 5rem 0px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: 800;
    text-align: end;
    margin-right: 24px;
}

.footer {
    background-color: #1F2937;
    height: 72px;
    color: #F9FAF8;
    display: flex;
}

.footer > p {
    text-align: center;
    margin: auto;
}